.root {
  min-height: 56px;
  cursor: pointer;

  * {
    pointer-events: none;
  }

  & .icon {
    height: 1rem;
    width: auto;
    margin-right: 12px;
    fill: currentColor;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    color: inherit !important;
    transition: color .3s;
  }

  &.fullWidth, &.fullWidth .content {
    width: 100%;
  }

  &.condensed {
    min-height: 40px;
  }

  &:active {
    transform: scale(0.96);
  }

  &[disabled]{
    cursor: not-allowed;
    color: var(--text-button-disabled) !important;

    &:active {
      transform: none;
    }
  }
  /** Colors */
  &.default {
    --btn-color: var(--text-primary);
    --btn-hover-color: var(--text-secondary);
  }

  &.primary {
    --btn-color: var(--primary);
    --btn-hover-color: var(--primary-lighter);
  }

  &.error {
    --btn-color: var(--error);
    --btn-hover-color: var(--error-lighter);
  }

  /** Variants */
  &.filled {
    background-color: var(--btn-color);
    color: var(--text-button);

    &:hover {
      background-color: var(--btn-hover-color);
    }

    &[disabled] {
      background-color: var(--background-lighter);
    }
  }

  &.embedded {
    color: var(--btn-color);

    &:hover {
      color: var(--btn-hover-color);
    }

    &[disabled] {
      color: var(--text-secondary);
    }
  }

  &.outlined {
    border-width: 1px;
    border-style: solid;
    border-color: var(--btn-color);
    color: var(--btn-color);
    transition: color 0.3s, border-color 0.3s;

    &:hover {
      color: var(--btn-hover-color);
      border-color: var(--btn-hover-color);
    }

    &[disabled] {
      color: var(--text-secondary);
      border-color: var(--text-secondary);
    }
  }
}
