.root {
  height: 42px;
  color: var(--primary);

  svg {
    height: 100%;
  }
}

.text {
  font-size: 220px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  fill: var(--text-primary);
}
