.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px;
  z-index: 1000;
  background-color: var(--background);
  color: var(--text-primary);
  border-bottom: 1px solid var(--border);

  .logo {
    height: 44px;
  }

  .actions {
    display: flex;
  }

  &.scrolled {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  }
}
