@import '../../styles';

$padding-horizontal: 16px;
$padding-with-icon: $padding-horizontal + 36px;

@keyframes loading {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

.root {
  height: 56px;
  position: relative;
  width: 100%;
  font-size: 1rem;
  background-color: var(--input-background);
  overflow: hidden;
  transition: border-color 0.2s;

  input {
    height: 100%;
    padding: $padding-horizontal $padding-horizontal 0 $padding-horizontal;
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    color: var(--text-primary);
  }

  & > svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    * {
      fill: var(--text-primary);
    }

    &:last-child {
      right: 16px;
    }
  }

  label {
    position: absolute;
    transition: all 0.3s;
    top: 50%;
    left: $padding-horizontal;
    height: 18px;
    transform: translateY(-50%);
    font-size: inherit;
    font-weight: 400;
    color: var(--input-placeholder);
    transform-origin: top left;
    pointer-events: none;
    width: 100%;
  }

  .visibilityToggle {
    cursor: pointer;
  }

  &.focused, &:not(.empty) {
    label {
      top: 9px;
      color: var(--primary);
      transform: scale(0.8);
    }
  }

  &.visibilityToggle {
    padding-right: $padding-with-icon;
  }

  &.startIcon {
    padding-left: $padding-with-icon;

    label {
      left: $padding-with-icon;
    }

    & > svg:first-child {
      left: 16px;
    }
  }

  &.pending::after, &.error::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
  }

  &.pending::after {
    background-color: var(--primary);
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: all 0.3s;
  }

  &.error {
    &::after {
      background-color: var(--error);
    }

    label {
      color: var(--error);
    }
  }

  @include input-border;
}
