@import '../../../ui/styles';

.root {
  border: 1px solid var(--border);
  border-radius: 8px;
  margin: 8px;

  .heading {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;

    .name {
      display: flex;
      align-items: center;

      svg {
        color: var(--text-primary);
        margin-right: 16px;
      }
    }

    .type {
      font-weight: 600;
    }
  }

  .data {
    border-top: 1px solid var(--border);
    padding: 8px 16px;

    & > div {
      margin: 8px 0;
      span {
        &:first-child {
          margin-right: 8px;
          font-weight: 600;
        }
      }
    }
  }

  .actions {
    border-top: 1px solid var(--border);
  }
}
