@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap&text=EXAMINE');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Rubik', 'Helvetica', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    letter-spacing: 0.00875em;
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100%;
    min-height: 100%;
    background-color: var(--background);
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    padding: 0;
    margin: 0;
    line-height: 1;
}

button {
    outline: 0;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
