@import '../../../ui/styles';

.root {
  min-height: 100%;
  display: flex;
  align-items: stretch;
  background-image: url('../../assets/bg-optim.jpg');
  background-size: cover;
  background-position: -300px center;
  justify-content: flex-end;

  .container {
    width: 64%;
    padding: 64px;
    background-color: var(--background);
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

    .nav {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: auto;
      margin-top: -56px;

      .logo {
        height: 72px;
        margin-bottom: 24px;
      }
    }

    form {
      width: 340px;

      & > div {
        margin: 12px 0;
      }
    }
  }

  .inactive {
    color: var(--text-secondary);
  }

  .registered {
    margin-top: 24px;
    max-width: 250px;
    text-align: center;
  }

  @include breakpoint(tablet) {
    background-image: none;

    .container {
      width: 100%;
    }
  }

  @include breakpoint(mobile) {
    .container {
      padding: 16px;

      .content {
        margin-top: -48px;

        .logo {
          height: 36px;
        }
      }

      form {
        width: 100%;
      }
    }
  }
}
