@keyframes loading {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

.root {
  position: fixed;
  top: 0;
  height: 4px;
  z-index: 1001;
  background-color: var(--primary);
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: all 0.3s;
}
